<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<span ion-text class="fw700">Easy</span><span ion-text class="fw300">OrderBusiness</span>
		</ion-title>

	</ion-navbar>

	<!--<ion-toolbar color="primary">-->
	<!--<ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"></ion-searchbar>-->
	<!--<ion-buttons end>-->
	<!--<button ion-button (click)="openRestaurantFilterPage()">-->
	<!--<ion-icon name="options"></ion-icon>-->
	<!--</button>-->
	<!--</ion-buttons>-->
	<!--</ion-toolbar>-->
</ion-header>

<ion-content class="lightest-bg">

	<ion-grid no-padding fixed >
		<ion-row no-padding>
			<ion-col class="text-center">
				<div text-center>
					<img margin-top="30px" *ngIf="status=='0'||status=='1'" class="full-image"src="assets/img/easyorder소개.png"/>
					<button ion-button round *ngIf="status=='0'" (click)="register_service()">Register Service</button>
					<button ion-button round *ngIf="status=='1'" (click)="pay()">Pay for Service</button>
				</div>


				<ion-list no-margin *ngIf="status=='2'">
					<h2 ion-text color="dark" text-center> <strong>Order List</strong></h2>
					<ion-grid class="text-center" no-padding>
						<ion-row>
							<ion-col class="text-center">
								<ion-card *ngIf="!orders.length" class="primary-bg" margin-top>
									<ion-card-content>
										<p text-center class="text-white">You have no orders.</p>
									</ion-card-content>
								</ion-card>

								<ion-card *ngFor="let Order of orders; let id = index">
									<ion-card-header text-center class="primary-bg">
										<p ion-text class="text-18x text-light fw300">Table number: <span ion-text class="fw700 text-white">{{Order.tableNum}}</span></p>
									</ion-card-header>
									<ion-card-content no-padding>
										<p ion-text color="dark" class="fw700"><strong>MENU: </strong>{{Order.menu}}</p>
										<div ion-item >
											<p ion-text color="primary"> <span class="fw700">{{Order.timeStamp}}</span></p>
											<ion-badge color="primary">{{ Order.totalPrice}} won</ion-badge>
										</div>
									</ion-card-content>
									<ion-row>
										<ion-col text-center>
											<button ion-button [style.backgroundColor]="Order.buttonColor" [disabled]="Order.disableButton" ion-button full (click)="confirm(id)"  >CONFIRM</button>
										</ion-col>
									</ion-row>
								</ion-card>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-list>
			</ion-col>
		</ion-row>

	</ion-grid>
</ion-content>

